<div id="user-profile-achievements-system" class="user-profile-badge-collection">
    <div class="widget-title is-standalone">Huy hiệu Hệ thống</div>
    <div class="box">
        <div class="box-content">

            <div class="badge-collections">
                <h6 class="has-text-smallcaps">The Basics</h6>
                <div class="badge-collection">
                    {%- include global/badge.html date="10/10/2018" fa="book" -%}
                    {%- include global/badge.html date="10/10/2018" fa="user-clock" -%}
                    {%- include global/badge.html date="10/10/2018" fa="compass" -%}
                    {%- include global/badge.html date="10/10/2018" fa="user" -%}
                    {%- include global/badge.html date="10/10/2018" fa="theater-masks" -%}
                    {%- include global/badge.html fa="sticky-note" -%}
                    {%- include global/badge.html fa="clone" -%}
                    {%- include global/badge.html fa="bullseye" -%}
                    {%- include global/badge.html fa="film" -%}
                    {%- include global/badge.html fa="comment-dots" -%}
                </div>
            </div>

            <div class="badge-collections">
                <h6 class="has-text-smallcaps">Characters</h6>
                <div class="badge-collection">
                    {%- include global/badge.html date="10/10/2018" fa="theater-masks" -%}
                    {%- include global/badge.html fa="running" -%}
                    {%- include global/badge.html fa="badge-check" -%}
                    {%- include global/badge.html fa="layer-group" -%}
                </div>
            </div>

            <div class="badge-collections">
                <h6 class="has-text-smallcaps">Hosting & Narrating</h6>
                <div class="badge-collection">
                    {%- include global/badge.html fa="book-medical" -%}
                    {%- include global/badge.html fa="hand-holding-box" -%}
                    {%- include global/badge.html fa="microphone-alt" -%}
                    {%- include global/badge.html fa="american-sign-language-interpreting" -%}
                </div>
            </div>

            <div class="badge-collections">
                <h6 class="has-text-smallcaps">Gameplay</h6>
                <div class="badge-collection">
                    {%- include global/badge.html fa="pencil" -%}
                    {%- include global/badge.html fa="book" -%}
                    {%- include global/badge.html fa="film" -%}
                    {%- include global/badge.html fa="sticky-note" -%}
                    {%- include global/badge.html fa="bullseye" -%}
                    {%- include global/badge.html fa="pen" -%}
                    {%- include global/badge.html fa="flag" -%}
                    {%- include global/badge.html fa="eye" -%}
                </div>
            </div>

            <div class="badge-collections">
                <h6 class="has-text-smallcaps">Community</h6>
                <div class="badge-collection">
                    {%- include global/badge.html fa="user" -%}
                    {%- include global/badge.html fa="star" -%}
                    {%- include global/badge.html fa="bookmark" -%}
                    {%- include global/badge.html fa="comment-dots" -%}
                    {%- include global/badge.html fa="medal" -%}
                </div>
            </div>

        </div>
    </div>
</div>

<div id="user-profile-achievements-game" class="user-profile-badge-collection">
    <div class="widget-title is-standalone">Huy hiệu Phòng chơi</div>

    <div class="box-wrapper">

        <div class="box">
            <div class="box-title is-bordered">
                <div class="columns is-xs is-flex is-align-center">
                    <div class="column is-narrow">
                        <figure class="image is-size-4 is-bordered is-radius has-placeholder">
                            <img src="">
                        </figure>
                    </div>
                    <div class="column">
                        <h5>gameName</h5>
                        <p class="is-size-7 has-text-darkgray is-italic">Tham gia ngày 10/10/2019</p>
                    </div>
                </div>
            </div>
            <div class="box-content">
                <div class="badge-collections">
                    <div class="badge-collection">
                        {%- include global/badge.html -%}
                        {%- include global/badge.html -%}
                        {%- include global/badge.html -%}
                        {%- include global/badge.html -%}
                        {%- include global/badge.html -%}
                    </div>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="box-title is-bordered">
                <div class="columns is-xs is-flex is-align-center">
                    <div class="column is-narrow">
                        <figure class="image is-size-4 is-bordered is-radius has-placeholder">
                            <img src="">
                        </figure>
                    </div>
                    <div class="column">
                        <h5>gameName</h5>
                        <p class="is-size-7 has-text-darkgray is-italic">Tham gia ngày 10/10/2019</p>
                    </div>
                </div>
            </div>
            <div class="box-content">
                <div class="badge-collections">
                    <div class="badge-collection">
                        {%- include global/badge.html -%}
                        {%- include global/badge.html -%}
                        {%- include global/badge.html -%}
                        {%- include global/badge.html -%}
                        {%- include global/badge.html -%}
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>