<div id="user-profile-settings-basics">

    {% include global/widget-title.html title="Thông tin cơ bản" %}

    <div class="box-wrapper">

        <div class="box">
            <div class="box-content">

                <div class="subtitle">Thông tin cá nhân</div>

                <div class="user-profile-information-wrapper">

                    <div class="user-profile-information-item">
                        <div class="user-profile-information-title has-text-smallcaps">
                            <span>Tên đầy đủ</span>
                        </div>
                        <div class="user-profile-information-content">
                            <div class="field">
                                <div class="control">
                                    <input type="text" class="input" value="Phan Thanh Hải">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="user-profile-information-item">
                        <div class="user-profile-information-title has-text-smallcaps">
                            <span>Giới thiệu</span>
                        </div>
                        <div class="user-profile-information-content">
                            <div class="field">
                                <div class="control">
                                    <textarea rows="6"
                                        class="textarea">Labore sanctus sadipscing sed stet tempor dolore amet kasd est elitr. Clita sed ea duo takimata sit, sed accusam est et diam lorem accusam sed sanctus sit. Et nonumy ut vero ipsum dolores. Lorem sit invidunt rebum dolore. Kasd sit elitr takimata diam nonumy et no nonumy. Est dolor tempor.</textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="user-profile-information-item">
                        <div class="user-profile-information-title has-text-smallcaps">
                            <span>Ngày sinh</span>
                        </div>
                        <div class="user-profile-information-content">
                            <div class="field">
                                <div class="control">
                                    <input type="date" class="input" value="1996-06-02">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="user-profile-information-item">
                        <div class="user-profile-information-title has-text-smallcaps"></div>
                        <div class="user-profile-information-content">
                            <div class="buttons">
                                <a class="button is-info">
                                    <span class="icon"><i class="fas fa-save is-size-7"></i></span>
                                    <span class="has-text-smallcaps">Lưu thay đổi</span>
                                </a>
                                <a class="button">
                                    <span class="icon"><i class="fas fa-times"></i></span>
                                    <span class="has-text-smallcaps">Hủy</span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="box">
            <div class="box-content">

                <div class="subtitle">Thông tin tài khoản</div>


                <div class="user-profile-information-wrapper">

                    <div class="user-profile-information-item">
                        <div class="user-profile-information-title has-text-smallcaps">
                            <span>Email</span>
                        </div>
                        <div class="user-profile-information-content">
                            <div class="field">
                                <div class="control">
                                    <input type="email" class="input" value="hai@haiphan.design">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="user-profile-information-item">
                        <div class="user-profile-information-title has-text-smallcaps">
                            <span>Mật khẩu</span>
                        </div>
                        <div class="user-profile-information-content">
                            <div class="field">
                                <div class="control">
                                    <input type="password" class="input" value="123456789">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input type="password" class="input" value="123456789">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="box">
            <div class="box-content">

                <div class="subtitle">Thông tin liên hệ</div>

                <div class="user-profile-information-wrapper">

                    <div class="user-profile-information-item">
                        <div class="user-profile-information-title has-text-smallcaps">
                            <span>Facebook</span>
                        </div>
                        <div class="user-profile-information-content">
                            <button class="button is-info">
                                <span class="icon"><i class="fab fa-facebook-square"></i></span>
                                <span>Liên kết Facebook</span>
                            </button>
                        </div>
                    </div>

                    <div class="user-profile-information-item">
                        <div class="user-profile-information-title has-text-smallcaps">
                            <span>Instagram</span>
                        </div>
                        <div class="user-profile-information-content">
                            <div class="field">
                                <div class="control">
                                    <input type="text" class="input" value="@haiphandesign">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="user-profile-information-item">
                        <div class="user-profile-information-title has-text-smallcaps">
                            <span>Điện thoại</span>
                        </div>
                        <div class="user-profile-information-content">
                            <div class="field">
                                <div class="control">
                                    <input type="phone" class="input" value="0913755169">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>

    </div>

</div>

<div id="user-profile-settings-basics">

    {% include global/widget-title.html title="Thông tin hệ thống" %}

    <div class="box">
        <div class="box-content">


        </div>
    </div>
</div>