<div id="user-profile-playing-activity">

    {% include global/widget-title.html title="Phòng chơi đang dẫn" %}

    <div class="game-collection is-large is-expandable">
        {% include widget/game-collection-item.html background="#5a9392" text="white" title="Rừng Viridian Diệu Kỳ" cover="https://git.haiphan.design/dantruyen-ui/img/sample/background/pokemon-01.jpg" image="https://git.haiphan.design/dantruyen-ui/img/sample/avatar/pokemon-pikachu.jpg" %}
        {% for i in (1..3) %}
        {% include widget/game-collection-item.html %}
        {% endfor %}
        <a class="game-more-link">10</a>
    </div>
</div>

<div id="user-profile-playing-activity">

    {% include global/widget-title.html title="Phòng chơi đang tham gia" %}

    <div class="game-collection is-large">
        {% for i in (1..4) %}
        {% include widget/game-collection-item.html playing="characterName" %}
        {% endfor %}
    </div>
</div>

<div id="user-profile-playing-activity">

    {% include global/widget-title.html title="Phòng chơi đã hoàn thành" %}

    <div class="game-collection is-small">
        {% for i in (1..4) %}
        {% include widget/game-collection-item.html %}
        {% endfor %}
    </div>
</div>