<div id="user-profile-playing-activity">
    <div class="widget-title is-standalone">Thông tin Cơ bản</div>
    <div class="box">
        <div class="box-content">
            {% include widget/user-profile-information-basics.html %}
        </div>
    </div>
</div>

<div id="user-profile-playing-activity">
    <div class="widget-title is-standalone">Thông tin Liên lạc</div>
    <div class="box">
        <div class="box-content">
            {% include widget/user-profile-information-socials.html %}
        </div>
    </div>
</div>