<div class="editor-container">
    <div class="toolbar">
        <div class="tool tool:picker tool:size">
            <div class="label toggle">Heading</div>
            <div class="options">
                <div class="span picker-item tool:heading">
                    <span class="text-2xl">Heading</span>
                </div>
                <div class="span picker-item tool:subheading">
                    <span class="text-xl">Subheading</span>
                </div>
                <div class="span picker-item tool:normal">
                    <span>Normal</span>
                </div>
            </div>
        </div>
        <div class="separator"></div>
        <div class="tool tool:bold"><i class="fas fa-bold"></i></div>
        <div class="tool tool:italic"><i class="fas fa-italic"></i></div>
        <div class="tool tool:underline"><i class="fas fa-underline"></i></div>
        <div class="tool tool:strikethrough"><i class="fas fa-strikethrough"></i></div>
        <div class="separator"></div>
        <div class="tool tool:align-left"><i class="fas fa-align-left"></i></div>
        <div class="tool tool:align-center"><i class="fas fa-align-center"></i></div>
        <div class="tool tool:align-right"><i class="fas fa-align-right"></i></div>
        <div class="tool tool:align-justify"><i class="fas fa-align-justify"></i></div>
        <div class="separator"></div>
        <div class="tool tool:quote"><i class="fas fa-quote-left"></i></div>
        <div class="tool tool:list-ul"><i class="fas fa-list-ul"></i></div>
        <div class="tool tool:list-ol"><i class="fas fa-list-ol"></i></div>
        <div class="separator"></div>
        <div class="tool tool:link"><i class="fas fa-link"></i></div>
        <div class="tool tool:image"><i class="fas fa-image"></i></div>
        <div class="separator"></div>
        <div class="tool tool:npc"><i class="fas fa-comment-alt"></i></div>
        <div class="spacer"></div>
        <div class="tool tool:expand"><i class="fas fa-expand"></i></div>
    </div>
    <span class="editor" contenteditable="">
        <p>Hello World!</p>
        <p>Some initial <strong>bold</strong> text</p>
        <p><br></p>
        <p>[npc name="Ralph" image="https://img.com/ralph.png"]</p>
        <p>Unbrokenquit gloating his countenance the with quaint.</p>
        <p>[/npc]</p>
        <p><br></p>
        <p>[npc flip right name="Trefle" image="https://img.com/trefle.png"]</p>
        <p>Bird a thy is take.</p>
        <p>[/npc]</p>
    </span>
</div>