<section id="footer" class="footer">
    <div class="container is-wide">
        <div class="level is-reversed">
            <div class="level-left">
                <div class="level-item">
                    <nav class="footer-links">
                        <ul>
                            <li><a href="#">Về chúng tôi</a></li>
                            <li><a href="#">Hỗ trợ</a></li>
                            <li><a href="#">Cửa hàng</a></li>
                            <li><a href="#">Tuyển dụng</a></li>
                            <li><a href="#">Điều khoản & Sử dụng</a></li>
                            <li><a href="#">Ủng hộ</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <div class="footer-copyright">© 2019 Dẫn Truyện. <span class="footer-version">3.0</span></div>
                </div>
            </div>
        </div>
    </div>
</section>