---
title: Phòng Chơi
layout: default
permalink: /game/
---

{% include game/header.html %}

<div id="game-main">

    <div id="game-page-waiting-room" class="game-tab">
        {% include game/page-waiting-room.html %}
    </div>

    <div id="game-page-main" class="game-tab">
        {% include game/page-content.html %}
    </div>

    <div id="game-page-characters" class="game-tab">
        {% include game/page-characters.html %}
    </div>

    <div id="game-page-cards" class="game-tab">
        {% include game/page-cards.html %}
    </div>

    <div id="game-page-discussion" class="game-tab is-active">
        {% include game/page-discussion.html %}
    </div>

    <div id="game-page-settings" class="game-tab">
        {% include game/page-settings.html %}
    </div>

</div>

<!-- <div style="height: 200vh;"></div> -->