---
title: Phòng Chơi
layout: default
permalink: /game/
---

{% include game/header.html %}

<div id="game-main">

    <div id="game-page-waiting-room" class="game-tab">
        {% include game/page-waiting-room.html %}
    </div>

    <div id="game-page-main" class="game-tab is-active">
        {% include game/page-content.html %}
    </div>

    <div id="game-page-characters" class="game-tab">
        {% include game/page-characters.html %}
    </div>

    <div id="game-page-cards" class="game-tab">
        {% include game/page-cards.html %}
    </div>

    <div id="game-page-discussion" class="game-tab">
        {% include game/page-discussion.html %}
    </div>

    <div id="game-page-settings" class="game-tab">
        {% include game/page-settings.html %}
    </div>

</div>


<!-- <div style="height: 200vh;"></div> -->

<div class="game-nav">
    <div class="game-nav-scenes">
        <div class="game-nav-scenes-toggle toggle">
            <i class="fa far fas fa-list"></i>
        </div>
        <div class="game-nav-scenes-wrapper">
            <div class="game-nav-scenes-item scene">
                <a class="title" href="#">
                    <span class="number">Chương 1:</span>
                    <span class="name">Lorem Ipsum</span>
                </a>
                <div class="actions">
                    <a href="#"><span class="icon"><i class="far fa-pen"></i></span></a>
                </div>
            </div>
            <div class="game-nav-scenes-item act is-active">
                <a class="title" href="#">
                    <span class="number">1.1</span>
                    <span class="name">Vero lorem aliquyam eos oluptua takimata nonumy aliquyam at nonumy et, elitr amet
                        erat.</span>
                </a>
                <div class="actions">
                    <a href="#"><span class="icon"><i class="far fa-pen"></i></span></a>
                </div>
            </div>
            <div class="game-nav-scenes-item act">
                <a class="title" href="#">
                    <span class="number">1.2</span>
                    <span class="name">Rebum sed gubergren erat</span>
                </a>
                <div class="actions">
                    <a href="#"><span class="icon"><i class="far fa-pen"></i></span></a>
                </div>
            </div>
            <div class="game-nav-scenes-item act">
                <a class="title" href="#">
                    <span class="number">1.3</span>
                    <span class="name">Lorem sit et magna</span>
                </a>
                <div class="actions">
                    <a href="#"><span class="icon"><i class="far fa-pen"></i></span></a>
                </div>
            </div>
            <div class="game-nav-scenes-item scene">
                <a class="title" href="#">
                    <span class="number">Chương 2:</span>
                    <span class="name">Lorem Ipsum</span>
                </a>
                <div class="actions">
                    <a href="#"><span class="icon"><i class="far fa-pen"></i></span></a>
                </div>
            </div>
            <div class="game-nav-scenes-item act">
                <a class="title" href="#">
                    <span class="number">2.1</span>
                    <span class="name">Et diam et dolor</span>
                </a>
                <div class="actions">
                    <a href="#"><span class="icon"><i class="far fa-pen"></i></span></a>
                </div>
            </div>
            <div class="game-nav-scenes-item act">
                <a class="title" href="#">
                    <span class="number">2.2</span>
                    <span class="name">Ut ut nonumy dolor</span>
                </a>
                <div class="actions">
                    <a href="#"><span class="icon"><i class="far fa-pen"></i></span></a>
                </div>
            </div>
            <div class="game-nav-scenes-item act">
                <a class="title" href="#">
                    <span class="number">2.3</span>
                    <span class="name">Ut ut nonumy dolor</span>
                </a>
                <div class="actions">
                    <a href="#"><span class="icon"><i class="far fa-pen"></i></span></a>
                </div>
            </div>
            <div class="game-nav-scenes-item act">
                <a class="title" href="#">
                    <span class="number">2.4</span>
                    <span class="name">Ut ut nonumy dolor</span>
                </a>
                <div class="actions">
                    <a href="#"><span class="icon"><i class="far fa-pen"></i></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="game-nav-scroll">
        <a class="game-nav-scroll-nav left">
            <i class="fa far fa-angle-up"></i>
        </a>
        <a class="game-nav-scroll-nav right">
            <i class="fa far fa-angle-down"></i>
        </a>
    </div>
</div>