// CONFIG

:root {
    --font-family-sans-serif: 'proxima-nova',
        sans-serif;
    --font-size: 15px;
    --font-size-7: .8rem;
    --border-radius: 0;
}

// IMPORT

@import 'footer';

@import 'userCard';

@import 'gameHeader';
@import 'gameMain';