.game-cover {
    position: relative;

    display: flex;

    width: 100%;
    max-width: calc(2000px - 10vw);

    margin: 0 auto;

    transform: translateX(0);

    background-color: var(--lightgray);
    @include border;
    border-top-width: 0;

    @include radius;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    // @include shadow;

    figure.image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-position: center top calc(50% - 3rem);

        img {
            @include radius;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }

    &:after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 100%;

        @include breakpoint(sm) {
            padding-bottom: 60%;
        }

        @include breakpoint(md) {
            padding-bottom: 40%;
        }
    }

    &.has-shadow-overlay {
        &:before {
            content: '';

            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;

            display: block;
            width: 100%;
            height: 100%;

            background-image: linear-gradient(rgba(black, 0) 0%, rgba(black, .125) 100%);

            @include radius;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
}

.game-info {
    position: relative;

    margin-top: -4rem;

    @include breakpoint(sm) {
        margin-top: -4.5rem;
    }
}

.game-meta {
    align-items: center;

    padding: 1rem;

    .level-left {
        display: grid;
        grid-gap: 1rem;
        align-items: center;
        justify-content: center;

        @include breakpoint(sm) {
            grid-auto-flow: column;
        }

        .level-item {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            @include breakpoint(sm) {
                align-items: flex-start;
            }
        }
    }

    .level-right {
        display: grid;
        grid-gap: 1rem;
        grid-auto-flow: column;
        align-items: center;
    }
}

.game-meta-image {
    margin-top: -4rem;

    @include breakpoint(sm) {
        margin-top: 0;
    }

    figure.image {
        background-color: var(--lightgray);
    }
}

.game-meta-counter {
    text-align: center;

    @include breakpoint(sm) {
        text-align: right;

        .title {
            &:first-child {
                margin-right: .5rem;
            }
        }
    }

    .players-limit {
        &:before {
            content: '/';
        }

        margin-left: .25rem;
        font-size: var(--font-size-7);
        color: var(--darkgray);
    }
}

.game-join-buttons {
    justify-content: center;

    margin-top: .5rem;
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    @include breakpoint(sm) {
        position: absolute;
        top: calc(-2.25em - 2px - .5rem);
        right: 0;

        justify-content: flex-end;

        margin: 0;
        padding: 0;
    }

    #game-join-button {
        &:before {
            content: '\f067';
            font-family: 'Font Awesome 5 Pro';
            font-weight: 300;

            display: flex;
            align-items: center;
            justify-content: center;

            height: 1.5em;
            width: 1em;

            margin-right: 0.75em;
            margin-left: -0.125em;
        }

        &:after {
            content: 'Tham gia';
        }

        &.is-active {
            &:before {
                content: '\f00c';
            }

            &:after {
                content: 'Đã tham gia';
            }
        }
    }
}

.game-navigation {
    @include border(top);
    border-color: var(--border-color-light);

    &.tabs {
        ul {
            padding-left: 1rem;
            padding-right: 1rem;
            border-bottom-width: 0;
        }

        li {
            margin-bottom: 0;
            border-width: 0 0 3px 0;

            &.is-active {
                color: var(--blue);
                border-color: var(--blue);
            }

            &:not(.is-active) {
                border-color: transparent;

                &:hover {
                    border-color: var(--gray);
                }
            }

            &.is-push-right {
                @include breakpoint(sm) {
                    margin-left: auto;
                }
            }

            &:last-child {
                @include breakpoint(xs) {
                    margin-right: 1rem;
                }
            }
        }

        a {
            padding: .75rem;
        }
    }
}