.user-profile-wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.user-profile-main {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: minmax(0, 1fr);
}

.user-profile-meta {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    padding: 1rem;

    @include breakpoint(sm) {
        align-items: center;
        flex-direction: row;
    }


    .counters {
        width: max-content;
        text-align: center;

        @include breakpoint(sm) {
            text-align: right;

            .counter {
                >*:first-child {
                    padding-right: 0.25rem;
                }
            }
        }

        @include breakpoint(xs) {
            width: auto;
            grid-gap: 0;
            margin: 0 -1rem;
            padding-top: 1rem;
            @include border(top);

            .counter+.counter {
                @include border(left);
            }
        }
    }
}

.user-profile-meta-info {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(min-content, max-content);
    grid-gap: 1rem;
    align-items: center;
}

.user-profile-meta-counters {
    width: 100%;
    margin-top: 1rem;

    @include breakpoint(sm) {
        width: auto;
        margin-top: 0;
    }
}

.user-profile-status {
    color: var(--darkgray);

    &:before {
        content: '';

        display: inline-block;
        vertical-align: middle;

        height: 0.5rem;
        width: 0.5rem;

        margin-right: 0.25rem;
        margin-bottom: 0.1rem;

        border-radius: 50%;

        background-color: var(--gray);
    }

    &.is-online {
        color: var(--lightgreen);

        >* {
            display: none;
        }

        &:before {
            background-color: var(--green);
        }

        &:after {
            content: 'Đang trực tuyến';
        }
    }
}

.user-profile-navigation {
    @include border(top);
    border-color: var(--border-color-light);

    &.tabs {
        border-bottom-width: 0;

        ul {
            padding-left: 0;
            padding-right: 0;

            @include breakpoint(sm) {
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }

        li {
            width: 100%;
            height: 3.75rem;

            margin-bottom: 0;
            border-width: 0 0 3px 0;

            @include breakpoint(sm) {
                width: auto;
                height: 3.25rem;
            }

            &.is-active {
                color: var(--blue);
                border-color: var(--blue);
            }

            &:not(.is-active) {
                border-color: transparent;

                &:hover {
                    border-color: var(--gray);
                }
            }

            &.is-push-right {
                @include breakpoint(sm) {
                    margin-left: auto;
                }
            }

            &:not(:last-child) {
                margin-right: 0;

                @include breakpoint(sm) {
                    margin-right: 1.5rem;
                }
            }
        }

        a {
            padding: 0.75rem;

            .icon {
                margin: 0 !important;

                @include breakpoint(sm) {
                    display: none;
                }
            }

            .text {
                display: none;

                @include breakpoint(sm) {
                    display: initial;
                }
            }
        }
    }
}

.user-profile-tab {
    display: none;
    grid-gap: 1em;
    grid-template-columns: minmax(0, 1fr);

    &.is-active {
        display: grid;
    }
}

.user-profile-information-wrapper {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: minmax(0, 1fr);
    margin-top: 1.5rem;

    &:first-child {
        margin-top: 0;
    }

    @include breakpoint(sm) {
        grid-gap: .75rem;
        margin-top: 1rem;
    }
}

.user-profile-information-item {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: .5rem;

    @include breakpoint(sm) {
        grid-template-columns: 1fr 3fr;
    }

    .user-profile-information-title {
        // font-size: var(--font-size-7);
        // font-weight: var(--font-weight-bold);
        // text-transform: uppercase;
    }

    .user-profile-information-content {
        a {
            border-bottom: 1px dotted currentColor;
        }
    }
}

.user-profile-information-item-biography .user-profile-information-content {
    @include content;
}