.user-card {
    position: relative;
    display: flex;

    &.is-horizontal {
        align-items: center;

        .user-card-image {
            margin-right: .5rem;
        }
    }

    .user-card-dropdown {
        position: absolute;
        top: 0;
        right: 0;
    }
}