// BASIC

.column+.column {
    margin-top: var(--column-gap);

    @include breakpoint(sm) {
        margin-top: 0;
    }
}

.columns.is-flex {
    .column+.column {
        margin-top: 0;
    }
}

.has-text-smallcaps {
    font-weight: var(--font-weight-bold);
}

.has-underline {
    border-bottom: 1px solid currentColor;
    padding-bottom: 1px;
}

.has-underline-hover {
    &:hover {
        border-bottom: 1px solid currentColor;
        padding-bottom: 1px;
    }
}

a.help,
.help a {
    border-bottom: 1px dotted currentColor;
}


// TOGGLE SWITCH

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 2.5rem;
    height: 1.5rem;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        display: flex;
        align-items: center;
        justify-content: flex-start;

        padding: .25rem;

        background-color: var(--border-color);
        border-radius: .75rem;

        transition: all .5s;

        &:before {
            content: '';
            position: relative;

            display: block;
            height: 1rem;
            width: 1rem;

            background-color: white;
            border-radius: 50%;
        }
    }

    input:checked+.slider {
        justify-content: flex-end;
        background-color: var(--black);
    }
}

// WYSIWYG

.wysiwyg {
    width: 100%;
    // overflow: hidden;

    &.is-bordered {
        @include box;
    }

    &:before {
        @include border(bottom);

        content: '';
        display: block;

        background-image: url('/assets/images/wysiwyg.png');
        background-size: contain;
        background-position: left center;
        background-repeat: no-repeat;


        border-top: 0;
        border-right: 0;
        border-left: 0;

        height: 3rem;
    }

    &:hover,
    &:focus {
        border-color: var(--darkgray);
    }

    textarea {
        width: 100%;
        border: none;
        padding: 1rem;
    }
}

.word-count {
    margin-top: .5rem;
}

// WIDGET

.widget-title {
    padding: .75rem 1rem;

    .widget-title-title {
        font-size: var(--font-size-4);
        font-weight: var(--font-weight-medium);
    }

    .widget-title-subtitle {
        color: var(--blue);
        font-size: var(--font-size-7);
        font-weight: var(--font-weight-medium);
        text-transform: uppercase;
    }

    .widget-title-description {
        color: var(--darkgray);
        font-size: var(--font-size-6);
    }
}

.box-title {
    .widget-title {
        padding: 0;
    }
}

.box-wrapper {
    >.widget-title {
        padding-bottom: 0;
        margin-bottom: -.25rem;
    }
}

.box {
    hr {
        border-color: var(--border-color-light);
        margin: 1.5rem 0;
    }
}



// USER STACKS

.user-stack {
    display: grid;
    grid-gap: .75rem;
    grid-template-columns: minmax(0, 1fr);
}

// COUNTERS

.counters {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
}

// CONTENT

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-weight: var(--font-weight-medium);
}











// NAVBAR

.navbar-menu {
    display: none;
    align-items: center;
    margin-left: 0;
    margin-right: 0;

    @include breakpoint(md) {
        display: flex;
    }

    .navbar-menu-wrapper {
        display: flex;

        @include breakpoint(md) {
            align-items: center;
        }
    }
}

@media (max-width: $viewport-md) {
    .navbar-brand {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .navbar-menu {
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;

        display: flex;

        width: 100%;
        height: 100%;

        pointer-events: none;

        background-color: rgba(0, 0, 0, .5);

        transition: all .25s ease;

        .navbar-menu-wrapper {
            margin-left: -100vw;
            display: flex;
            flex-direction: column;

            width: 85%;
            height: 100%;

            background-color: var(--white);

            transition: all .25s ease;
        }

        .navbar-item {
            padding: .75rem 1.5rem;
        }

        a.navbar-item {
            @include smallcaps;
        }
    }

    .navbar-menu.navbar-menu-account {
        justify-content: flex-end;

        .navbar-menu-wrapper {
            margin-left: unset;
            margin-right: -100vw;
        }
    }

    .navbar-toggle.is-active {
        +.navbar-menu {
            opacity: 1;
            pointer-events: all;
            background-color: rgba(0, 0, 0, .5);
            transition: all .25s ease;

            .navbar-menu-wrapper {
                margin-left: 0;
                transition: all .25s ease;
            }

            &.navbar-menu-account {
                .navbar-menu-wrapper {
                    margin-left: unset;
                    margin-right: 0;
                }
            }
        }
    }

    .navbar-account-logged-out-buttons {
        margin-top: 3rem;

        .buttons {
            flex-direction: column;

            >.button {
                width: 100%;
                height: 2.5rem;
                margin-right: 0;

                &:first-child {
                    background-color: var(--blue);
                    color: var(--white);
                }

                &:last-child {
                    background-color: var(--white);
                    color: var(--blue);
                }
            }
        }
    }

    .navbar-account-user {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 1.5rem;

        @include border(bottom);
        margin-bottom: var(--font-size-7);
    }
}

.dt-navbar {
    >.container {
        justify-content: space-between;

        @include breakpoint(sm) {
            justify-content: flex-start;
        }

        .navbar-brand {
            margin-left: 0;

            @include breakpoint(md) {
                order: unset;
                margin-left: -.75rem;
            }
        }
    }

    .navbar-logo-text {
        display: none;

        @include breakpoint(md) {
            display: block;
        }
    }

    .navbar-toggle-menu {
        margin-left: 0;

        &:before {
            content: '\f0c9';
        }
    }

    .navbar-menu-close {
        .delete {
            &:after {
                opacity: 1;
            }
        }
    }

    .navbar-menu-main {
        margin-right: auto;

        .navbar-menu-close {
            top: 1.25rem;
            left: 1rem;
            right: unset;
        }
    }

    .navbar-menu-logo {
        @include border(bottom);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5rem !important;
        margin-bottom: var(--font-size-7);

        &-image {
            width: 4rem;
        }

        @include breakpoint(md) {
            display: none;
        }
    }

    .navbar-toggle-account {
        margin-left: 0;

        &:before {
            content: '\f007';
        }
    }

    .navbar-menu-wrapper.navbar-account-logged-in {
        @include breakpoint(md) {
            height: var(--navbar-height);

            &.is-active,
            &:hover {
                .navbar-account-menu {
                    display: flex;
                }
            }
        }
    }

    .navbar-menu-account {
        .navbar-menu-close {
            top: 1.25rem;
            right: 1rem;
        }

        .navbar-menu-wrapper {
            @include breakpoint(md) {
                flex-direction: row-reverse;
            }
        }
    }

    .navbar-account-user {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 1.5rem 1.5rem 1rem 1.5rem;

        @include breakpoint(md) {
            flex-direction: row;
            padding: 0 .75rem;

            @include border(left);
        }
    }

    .navbar-account-image {
        width: 6rem;
        height: 6rem;

        @include breakpoint(md) {
            width: 3rem;
            height: 3rem;
        }
    }

    .navbar-account-meta {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin-top: 1rem;

        @include breakpoint(md) {
            align-items: flex-start;
            margin-top: 0;
            margin-left: 1rem;
        }
    }

    .navbar-account-menu {
        padding: 0;

        @media (max-width: $viewport-md) {}

        @include breakpoint(md) {
            position: absolute;
            top: calc(100% + 1px);

            display: none;
            flex-direction: column;

            width: 15rem;

            background-color: var(--white);

            border-radius: 0 0 var(--border-radius) var(--border-radius);

            @include border;
            border-top: none;
        }

        .navbar-item {
            font-size: var(--font-size-7);
            text-transform: uppercase;
            width: 100%;

            @include breakpoint(md) {
                padding: .5rem 1rem;

                &:not(:last-child) {
                    @include border(bottom);
                }
            }

            &:hover {
                background-color: var(--background);
            }

            &.navbar-item-tem {
                display: flex;
                align-items: center;
                justify-content: center;
                @include border(bottom);
                margin-top: -.75rem;
                margin-bottom: .75rem;

                @include breakpoint(md) {
                    margin-top: 0;
                    margin-bottom: 0;
                }

                .navbar-item-item-title {
                    text-transform: uppercase;

                    &:after {
                        content: ':\00a0';
                    }
                }

                .button {
                    margin-left: auto;
                }
            }
        }
    }

    .navbar-toggle-notifications {
        position: relative;
        margin-right: .75rem;
        margin-left: auto;

        @include breakpoint(md) {
            display: flex;
            margin-right: 0;
            margin-left: .75rem;
            order: 99;
        }

        &:before {
            content: '\f0f3';
            font-size: 1.2rem;
        }

        &.has-notifications {
            &:before {
                font-weight: 900;
                color: var(--primary-color);
                // content: '\f848';
            }

            &:after {
                content: attr(data-notifications);
                position: absolute;
                top: -5px;
                right: -5px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 1rem;
                height: 1rem;
                text-align: center;
                border-radius: 50%;
                font-size: .5rem;
                background-color: var(--red);
                color: white;
            }

            // &:after {
            //     @include fontawesome(solid);
            //     content: '\f7d4';
            //     font-size: .6rem;
            //     position: absolute;
            //     top: -5px;
            //     right: -3px;
            //     color: var(--blue);
            // }
        }

        &.is-active {
            color: var(--blue);

            &:before {
                font-weight: 600;

            }

            +.navbar-notifications {
                display: flex;
                overflow-x: hidden;
            }
        }
    }

    .navbar-notifications {
        position: absolute;
        top: calc(100% + 1px);
        right: 2.5vw;
        bottom: 0;

        display: none;
        flex-direction: column;

        width: 25rem;
        height: 25rem;

        background-color: var(--background);

        box-shadow: 0 0 0 1px var(--border-color);

        overflow: scroll;

        .navbar-notifications-more {
            position: sticky;
            bottom: 0;
            left: 0;

            @include border(top);
            @include smallcaps;

            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;
            min-height: 2rem;

            background-color: var(--white);

            &:hover {
                background-color: var(--background);
            }
        }

        .navbar-notifications-wrapper {
            width: 100%;
            height: max-content;
            min-height: 25rem;
            padding-bottom: calc(2rem - 1px);
        }

        @media (max-width: $viewport-md) {
            left: 0;
            right: 0;
            width: 100%;
            height: calc(100vh - var(--navbar-height-mobile));

            .navbar-notifications-wrapper {
                min-height: 100%;
            }
        }
    }

    .navbar-notification {
        padding: .75rem 1rem;
        @include border(bottom);

        display: flex;
        align-items: center;
        justify-content: flex-start;

        background-color: var(--white);

        &:hover {
            background-color: var(--background);
        }

        &-image {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 3rem;
            height: 3rem;

            border-radius: var(--border-radius);

            background-color: var(--gray);

            margin-right: 1rem;
        }
    }

    .navbar-new {
        display: none;
        position: relative;
        border-radius: 50%;

        @include breakpoint(md) {
            display: flex;
            margin-right: .75rem;
        }
    }
}

.navbar {
    &.is-transparent {
        background-color: transparent;
        border-bottom-color: transparent;

        &.is-scroll {
            background-color: var(--navbar-background);
            border-color: var(--border-color);
        }
    }

    &.is-fixed {
        position: fixed;
    }
}



.subtitle {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-5);
    border-bottom: 1px solid var(--border-color-light);
    margin-bottom: 1.5rem;
    padding-bottom: .5rem;
}