<ul class="list is-divided">
    <li><a href="https://doc.dantruyen.com/">
            <span class="icon"><i class="fas fa-book"></i></span>
            <span>Huớng dẫn cách chơi</span>
        </a></li>
    <li><a href="https://discord.gg/2FBnj6d">
            <span class="icon"><i class="fab fa-discord"></i></span>
            <span>Server Discord</span>
        </a></li>
    <li><a href="https://www.facebook.com/kechuyencungnhau/">
            <span class="icon"><i class="fab fa-facebook"></i></span>
            <span>Fanpage Dẫn Truyện</span>
        </a></li>
    <li><a href="https://www.facebook.com/groups/dantruyencommunity/">
            <span class="icon"><i class="fab fa-facebook"></i></span>
            <span>Group Cộng đồng Dẫn Truyện</span>
        </a></li>
    <li><a href="mailto:hotro@dantruyen.com">
            <span class="icon"><i class="fas fa-envelope"></i></span>
            <span>hotro@dantruyen.com</span>
        </a></li>
    <li><a href="https://sum.vn/dantruyenfeedback">
            <span class="icon"><i class="fas fa-comments-alt"></i></span>
            <span>Feedback forum</span>
        </a></li>
</ul>