<div class="cast-stacks">

    <div class="cast-stack is-narrator">

        <div class="cast-item user-card is-horizontal" href="">
            <div class="user-card-image">
                <figure class="image is-size-4 is-cover is-bordered is-radius has-placeholder">
                    <img src="">
                </figure>
            </div>
            <div class="user-card-meta">
                <div class="has-text-weight-semibold">characterName</div>
                <div class="has-text-darkgray is-size-7 has-text-underline-on-hover">
                    @username</div>
            </div>
        </div>

    </div>

    <div class="cast-stack is-narrator">

        <div class="cast-item user-card is-horizontal" href="">
            <div class="user-card-image">
                <figure class="image is-size-4 is-cover is-bordered is-radius has-placeholder">
                    <img src="">
                </figure>
            </div>
            <div class="user-card-meta">
                <div class="has-text-weight-semibold">characterName</div>
                <div class="has-text-darkgray is-size-7 has-text-underline-on-hover">
                    @username</div>
            </div>
            <div class="user-card-dropdown">
                <div class="dropdown is-hoverable is-down is-right">
                    <div class="dropdown-trigger"></div>
                    <div class="dropdown-menu">
                        <div class="dropdown-content">
                            <a class="dropdown-item post-interaction-item-mod">
                                <span class="icon"><i class="fas far fa-times-circle"></i></span>
                                <span style="white-space: nowrap;">Xoá nhân vật</span>
                            </a>
                            <a class="dropdown-item post-interaction-item-mod">
                                <span class="icon"><i class="fas far fa-times-circle"></i></span>
                                <span style="white-space: nowrap;">Xoá người chơi</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cast-item user-card is-horizontal" href="">
            <div class="user-card-image">
                <figure class="image is-size-4 is-cover is-bordered is-radius has-placeholder">
                    <img src="">
                </figure>
            </div>
            <div class="user-card-meta">
                <div class="has-text-weight-semibold">characterName</div>
                <div class="has-text-darkgray is-size-7 has-text-underline-on-hover">
                    @username</div>
            </div>
            <div class="user-card-dropdown">
                <div class="dropdown is-hoverable is-down is-right">
                    <div class="dropdown-trigger"></div>
                    <div class="dropdown-menu">
                        <div class="dropdown-content">
                            <a class="dropdown-item post-interaction-item-mod">
                                <span class="icon"><i class="fas far fa-times-circle"></i></span>
                                <span style="white-space: nowrap;">Xoá nhân vật</span>
                            </a>
                            <a class="dropdown-item post-interaction-item-mod">
                                <span class="icon"><i class="fas far fa-times-circle"></i></span>
                                <span style="white-space: nowrap;">Xoá người chơi</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>






    <a href="#" class="has-text-lightblack is-size-7 has-text-underline-on-hover">và 10 nguời chơi khác</a>

</div>