<div class="game-sidebar-contacts--note">
    <p>Xin chào! Mình là trưởng phòng, các bạn hãy theo những link dưới đây để cùng tham gia thảo luận với mọi người
        nhé! Còn nếu cần liên lạc riêng với mình thì hãy viết mail cho mình hoặc liên hệ trực tiếp cho mình qua Facebook
        Messenger nha!</p>
</div>
<ul class="game-sidebar-contacts--lists">
    <li>
        <a href="https://discosd.com">Discord</a>
    </li>
    <li>
        <a href="https://messenger.com">Messenger</a>
    </li>
    <li>
        <a href="https://facebook.com">Discord</a>
    </li>
    <li>
        <a href="mailto:hai@haiphan.design">Mail</a>
    </li>
</ul>