<div class="user-stack">

    <a class="user-card is-horizontal" href="">
        <div class="user-card-image">
            <figure class="image is-size-4 is-cover is-bordered is-radius has-placeholder">
                <img src="">
            </figure>
        </div>
        <div class="user-card-meta">
            <div class="has-text-weight-semibold">characterName</div>
            <div class="has-text-darkgray is-size-7 has-text-underline-on-hover">
                @username</div>
        </div>
    </a>

    <a class="user-card is-horizontal" href="">
        <div class="user-card-image">
            <figure class="image is-size-4 is-cover is-bordered is-radius has-placeholder">
                <img src="">
            </figure>
        </div>
        <div class="user-card-meta">
            <div class="has-text-weight-semibold">characterName</div>
            <div class="has-text-darkgray is-size-7 has-text-underline-on-hover">
                @username</div>
        </div>
    </a>

    <a class="user-card is-horizontal" href="">
        <div class="user-card-image">
            <figure class="image is-size-4 is-cover is-bordered is-radius has-placeholder">
                <img src="">
            </figure>
        </div>
        <div class="user-card-meta">
            <div class="has-text-weight-semibold">characterName</div>
            <div class="has-text-darkgray is-size-7 has-text-underline-on-hover">
                @username</div>
        </div>
    </a>

    <a class="user-card is-horizontal" href="">
        <div class="user-card-image">
            <figure class="image is-size-4 is-cover is-bordered is-radius has-placeholder">
                <img src="">
            </figure>
        </div>
        <div class="user-card-meta">
            <div class="has-text-weight-semibold">characterName</div>
            <div class="has-text-darkgray is-size-7 has-text-underline-on-hover">
                @username</div>
        </div>
    </a>

    <a class="user-card is-horizontal" href="">
        <div class="user-card-image">
            <figure class="image is-size-4 is-cover is-bordered is-radius has-placeholder">
                <img src="">
            </figure>
        </div>
        <div class="user-card-meta">
            <div class="has-text-weight-semibold">characterName</div>
            <div class="has-text-darkgray is-size-7 has-text-underline-on-hover">
                @username</div>
        </div>
    </a>

</div>