<p>At dolor duo accusam rebum sadipscing diam tempor dolor eos et, diam erat ipsum labore sit
    erat eirmod amet. Rebum consetetur et invidunt sit sit diam sit, amet sit et vero no
    aliquyam consetetur ut, sea dolor ut dolor ea. Et dolor ipsum diam kasd erat sadipscing at
    amet.</p>
<div class="tags">
    <span class="tag is-hashtag">comedy</span>
    <span class="tag is-hashtag">sliced of life</span>
    <span class="tag is-hashtag">school life</span>
    <span class="tag is-hashtag">romance</span>
    <span class="tag is-hashtag">ecchi</span>
</div>