<div class="game-home-meta" id="game-home-meta">
    <div class="game-meta-item">
        <div class="title">Kiểu dẫn</div>
        <div class="content">
            <p>Một người</p>
        </div>
    </div>
    <div class="game-meta-item">
        <div class="title">Phong cách</div>
        <div class="content">
            <p>Cân bằng</p>
        </div>
    </div>
    <div class="game-meta-item">
        <div class="title">Độ dài</div>
        <div class="content">
            <p>Truyện ngắn</p>
        </div>
    </div>
    <div class="game-meta-item">
        <div class="title">Tốc độ</div>
        <div class="content">
            <p>Rất chậm</p>
        </div>
    </div>
    <div class="game-meta-item">
        <div class="title">Giới hạn từ</div>
        <div class="content">
            <p>Tuỳ chọn</p>
        </div>
    </div>
    <div class="game-meta-item">
        <div class="title">Độ khó</div>
        <div class="content">
            <p>Trung bình</p>
        </div>
    </div>
    <div class="game-meta-item">
        <div class="title">Hiển thị</div>
        <div class="content">
            <p>Một người</p>
        </div>
    </div>
    <div class="game-meta-item">
        <div class="title">Quyền sở hữu</div>
        <div class="content">
            <p><i class="fab fa-creative-commons"></i> <i class="fab fa-creative-commons-by"></i></p>
        </div>
    </div>
</div>