<ul style="columns: 2; line-height: 2; margin: .5rem 1rem;">
    <li><a href="#">
            <span>Action</span>
            <span class="is-size-7 has-text-darkgray">(00)</span>
        </a></li>
    <li><a href="#">
            <span>Adult</span>
            <span class="is-size-7 has-text-darkgray">(00)</span>
        </a></li>
    <li><a href="#">
            <span>Adventure</span>
            <span class="is-size-7 has-text-darkgray">(00)</span>
        </a></li>
    <li><a href="#">
            <span>Comedy</span>
            <span class="is-size-7 has-text-darkgray">(00)</span>
        </a></li>
    <li><a href="#">
            <span>Drama</span>
            <span class="is-size-7 has-text-darkgray">(00)</span>
        </a></li>
    <li><a href="#">
            <span>Ecchi</span>
            <span class="is-size-7 has-text-darkgray">(00)</span>
        </a></li>
    <li><a href="#">
            <span>Fantasy</span>
            <span class="is-size-7 has-text-darkgray">(00)</span>
        </a></li>
    <li><a href="#">
            <span>Sci-fi</span>
            <span class="is-size-7 has-text-darkgray">(00)</span>
        </a></li>
    <li><a href="#">
            <span>Harem</span>
            <span class="is-size-7 has-text-darkgray">(00)</span>
        </a></li>
    <li><a href="#">
            <span>Historical</span>
            <span class="is-size-7 has-text-darkgray">(00)</span>
        </a></li>
</ul>