<div class="game-card-stack is-obstacle">
    <div class="game-card is-character">
        <div class="game-card-icon"></div>
        <div class="game-card-name">challengeName</div>
    </div>
    <div class="game-card is-obstacle">
        <div class="game-card-icon"></div>
        <div class="game-card-name">challengeName</div>
    </div>
    <div class="game-card is-create">
        <div class="game-card-icon"></div>
        <div class="game-card-name">assetName</div>
    </div>
</div>
<div class="game-card-stack is-available">
    <div class="game-card is-asset">
        <div class="game-card-icon"></div>
        <div class="game-card-name">assetName</div>
        <div class="game-card-amount">7</div>
    </div>
    <div class="game-card is-asset">
        <div class="game-card-icon"></div>
        <div class="game-card-name">assetName</div>
        <div class="game-card-amount">7</div>
    </div>
    <div class="game-card is-create">
        <div class="game-card-icon"></div>
        <div class="game-card-name">assetName</div>
    </div>
</div>