<div id="game-sidebar-player">

    <div class="user-card is-horizontal">
        <div class="user-card-image">
            <figure class="image is-size-5 is-cover is-bordered is-radius has-placeholder">
                <img src="">
            </figure>
        </div>
        <div class="user-card-meta">
            <div class="has-text-weight-semibold">characterName</div>
            <div class="has-text-darkgray is-size-7 has-text-underline-on-hover">
                @username</div>
        </div>
    </div>
</div>

<div id="game-sidebar-player-action">
    <div class="buttons">
        <a href="#" class="button is-fullwidth">
            <div class="has-text-smallcaps" style="display: flex;">
                <span class="icon"><i class="far fa-pen-nib"></i></span><span style="white-space: nowrap;">Tiếp tục
                    cảnh</span>
            </div>
        </a>
    </div>
    <div class="buttons is-nowrap are-fullwidth is-visible-narrator-only">
        <a href="#" class="button">
            <div class="has-text-smallcaps" style="display: flex;">
                <span class="icon"><i class="far fa-pen-nib"></i></span><span style="white-space: nowrap;">Kết thúc
                    cảnh</span>
            </div>
        </a>
        <a href="#" class="button">
            <div class="has-text-smallcaps">
                <span class="icon"><i class="far fa-bullhorn"></i></span><span>Nhắc nhở</span>
            </div>
        </a>
    </div>
</div>