<div class="cast-stacks">

    <div class="cast-stack is-narrator">

        <a class="cast-item user-card is-horizontal" href="">
            <div class="user-card-image">
                <figure class="image is-size-4 is-cover is-bordered is-radius has-placeholder">
                    <img src="">
                </figure>
            </div>
            <div class="user-card-meta">
                <div class="has-text-weight-semibold">characterName</div>
                <div class="has-text-darkgray is-size-7 has-text-underline-on-hover">
                    @username</div>
            </div>
        </a>

    </div>

    <div class="cast-stack is-narrator">

        <a class="cast-item user-card is-horizontal" href="">
            <div class="user-card-image">
                <figure class="image is-size-4 is-cover is-bordered is-radius has-placeholder">
                    <img src="">
                </figure>
            </div>
            <div class="user-card-meta">
                <div class="has-text-weight-semibold">characterName</div>
                <div class="has-text-darkgray is-size-7 has-text-underline-on-hover">
                    @username</div>
            </div>
        </a>

        <a class="cast-item user-card is-horizontal" href="">
            <div class="user-card-image">
                <figure class="image is-size-4 is-cover is-bordered is-radius has-placeholder">
                    <img src="">
                </figure>
            </div>
            <div class="user-card-meta">
                <div class="has-text-weight-semibold">characterName</div>
                <div class="has-text-darkgray is-size-7 has-text-underline-on-hover">
                    @username</div>
            </div>
        </a>

    </div>






    <a href="#" class="has-text-lightblack is-size-7 has-text-underline-on-hover">và 10 nguời chơi khác</a>

</div>