<div class="user-profile-information-wrapper">

    <div class="user-profile-information-item user-profile-information-item-fullname">
        <div class="user-profile-information-title">
            <span>Tên đầy đủ</span>
        </div>
        <div class="user-profile-information-content">
            <span>Phan Thanh Hải</span>
        </div>
    </div>

    <div class="user-profile-information-item user-profile-information-item-biography">
        <div class="user-profile-information-title">
            <span>Giới thiệu</span>
        </div>
        <div class="user-profile-information-content">
            <p>Labore sanctus sadipscing sed stet tempor dolore amet kasd est elitr. Clita sed ea duo takimata sit, sed
                accusam est et diam lorem accusam sed sanctus sit. Et nonumy ut vero ipsum dolores. Lorem sit invidunt
                rebum dolore. Kasd sit elitr takimata diam nonumy et no nonumy. Est dolor tempor.</p>
        </div>
    </div>

    <div class="user-profile-information-item user-profile-information-item-dob">
        <div class="user-profile-information-title">
            <span>Ngày sinh</span>
        </div>
        <div class="user-profile-information-content">
            <span>02/06/1996</span>
        </div>
    </div>

    <div class="user-profile-information-item user-profile-information-item-joindate">
        <div class="user-profile-information-title">
            <span>Ngày tham gia</span>
        </div>
        <div class="user-profile-information-content">
            <span>10/10/2018</span>
        </div>
    </div>

</div>