<section id="game-header" class="game-header">

    <div class="game-cover">
        <figure class="image is-full is-cover has-placeholder-big is-loading">
            <img src="">
        </figure>
    </div>

    <div class="game-info">
        <div class="container">
            <div class="box">
                <div class="level game-meta">
                    <div class="level-left">
                        <div class="level-item game-meta-image">
                            <figure class="image is-size-7 is-cover is-bordered is-radius has-placeholder is-loading">
                                <img src="">
                            </figure>
                        </div>
                        <div class="level-item game-meta-basic">
                            <div class="has-text-weight-bold is-size-4 is-loading">Tên phòng chơi</div>
                            <div class="has-text-darkgray is-loading">Dẫn truyện bởi <strong>Người dẫn</strong>
                                (@host)</div>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <div class="game-meta-counter acts">
                                <div class="has-text-weight-bold is-size-3"><span class="acts-count">0</span>
                                </div>
                                <div class="has-text-smallcaps has-text-darkgray">Màn chơi</div>
                            </div>
                        </div>
                        <div class="level-item">
                            <div class="game-meta-counter players">
                                <div class="has-text-weight-bold is-size-3">
                                    <span class="players-count">0</span><span class="players-limit">10</span>
                                </div>
                                <div class="has-text-smallcaps has-text-darkgray">Người chơi</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttons game-join-buttons">
                    <button id="game-join-button" class="button is-small is-title-small"></button>
                </div>
                <div class="tabs game-navigation" id="game-navigation">
                    <ul>
                        <li class="is-active"><a>Phòng chờ</a></li>
                        <li><a>Nội dung</a></li>
                        <li><a>Nhân vật</a></li>
                        <li><a>Thẻ bài</a></li>
                        <li class="is-push-right"><a>Thiết lập</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>