<div class="post-interaction">
    <div class="post-interaction-item post-interaction-item-vote post-interaction-item-vote-up">
        <span class="icon">
            <i class="fas fa-thumbs-up"></i>
        </span>
        <span class="counter">10</span>
    </div>
    <div class="post-interaction-item post-interaction-item-vote post-interaction-item-vote-down">
        <span class="icon">
            <i class="fas fa-thumbs-down"></i>
        </span>
        <span class="counter">10</span>
    </div>
    <div class="post-interaction-item post-interaction-item-comment">
        <span>Bình luận</span>
    </div>
    <div class="post-interaction-item post-interaction-item-gift">
        <span>Tặng Tem</span>
    </div>
    <div class="post-interaction-item is-push-right post-interaction-item-more">
        <div class="dropdown is-hoverable is-up is-right">
            <div class="dropdown-trigger"></div>
            <div class="dropdown-menu">
                <div class="dropdown-content">
                    <a class="dropdown-item post-interaction-item-edit">
                        <span class="icon"><i class="fas fa-edit"></i></span>
                        <span>Chỉnh sửa</span>
                    </a>
                    <a class="dropdown-item post-interaction-item-mod">
                        <span class="icon"><i class="fas fa-exclamation-triangle"></i></span>
                        <span>Yêu cầu chỉnh sửa</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <a class="post-interaction-item post-interaction-item-share">
        <span class="icon"><i class="fas fa-share-alt"></i></span>
    </a>
</div>