<div class="post-comments">
    <div class="post-comments-wrapper">
        <div class="post-comments-item">
            <div class="post-comments-item-author">
                <a class="user-card is-horizontal" href="#">
                    <div class="user-card-image">
                        <figure class="image is-size-3 is-cover is-bordered is-radius has-placeholder">
                            <img src="">
                        </figure>
                    </div>
                    <div class="user-card-meta">
                        <div class="has-text-weight-semibold">@comment-chính-chủ</div>
                        <div class="has-text-darkgray is-size-7 has-text-underline-on-hover">
                            11/12/2019</div>
                    </div>
                </a>
            </div>
            <div class="post-comments-item-content has-paragraphs">
                <p>At elitr et sed accusam sed vero, kasd ut et amet takimata et. Ea
                    sed duo dolore sanctus ea eirmod.</p>
            </div>
            <div class="post-comments-item-interaction">
                <div class="post-comments-item-interaction-item">
                    <span>Chỉnh sửa</span>
                </div>
                <div class="post-comments-item-interaction-item">
                    <span>Xóa</span>
                </div>
            </div>
        </div>
        <div class="post-comments-item is-editing">
            <div class="post-comments-item-author">
                <a class="user-card is-horizontal" href="#">
                    <div class="user-card-image">
                        <figure class="image is-size-3 is-cover is-bordered is-radius has-placeholder">
                            <img src="">
                        </figure>
                    </div>
                    <div class="user-card-meta">
                        <div class="has-text-weight-semibold">@comment-chính-chủ-đang-sửa</div>
                        <div class="has-text-darkgray is-size-7 has-text-underline-on-hover">
                            11/12/2019</div>
                    </div>
                </a>
            </div>
            <div class="post-comments-item-content has-paragraphs">
                <p>At elitr et sed accusam sed vero, kasd ut et amet takimata et. Ea
                    sed duo dolore sanctus ea eirmod.</p>
            </div>
            <div class="post-comments-item-interaction">
                <div class="post-comments-item-interaction-item">
                    <span>Chỉnh sửa</span>
                </div>
                <div class="post-comments-item-interaction-item">
                    <span>Xóa</span>
                </div>
            </div>
            <div class="post-comments-item-editing">
                <form action="">
                    <div class="post-comments-item-editing-input">
                        <input type="text" class="input"
                            value="At elitr et sed accusam sed vero, kasd ut et amet takimata et. Ea sed duo dolore sanctus ea eirmod.">
                    </div>
                    <div class="post-comments-item-editing-submit">
                        <button class="button is-info">
                            <span class="icon">Lưu</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="post-comments-item">
            <div class="post-comments-item-author">
                <a class="user-card is-horizontal" href="#">
                    <div class="user-card-image">
                        <figure class="image is-size-3 is-cover is-bordered is-radius has-placeholder">
                            <img src="">
                        </figure>
                    </div>
                    <div class="user-card-meta">
                        <div class="has-text-weight-semibold">@comment-của-người-khác</div>
                        <div class="has-text-darkgray is-size-7 has-text-underline-on-hover">
                            11/12/2019</div>
                    </div>
                </a>
            </div>
            <div class="post-comments-item-content has-paragraphs">
                <p>At elitr et sed accusam sed vero, kasd ut et amet takimata et. Ea
                    sed duo dolore sanctus ea eirmod.</p>
            </div>
        </div>
        <a class="post-comments-more">5</a>
    </div>
    <div class="post-comments-input">
        <form action="">
            <div class="post-comments-input-author">
                <figure class="image is-size-2 is-bordered is-radius has-placeholder"></figure>
            </div>
            <div class="post-comments-input-area">
                <input type="text" class="input" placeholder="Trả lời bình luận">
            </div>
            <div class="post-comments-input-submit">
                <button class="button is-info">
                    <span class="icon"><i class="fas fa-paper-plane"></i></span>
                </button>
            </div>
        </form>
    </div>
</div>