<div class="post-comments">
    <div class="post-comments-wrapper">
        <div class="post-comments-item">
            <span class="post-comments-item-content">At elitr et sed accusam sed vero, kasd ut et amet takimata et. Ea
                sed duo dolore sanctus ea eirmod.</span>
            <span class="post-comments-item-by"><a href="#">alexvu</a></span>
        </div>
        <div class="post-comments-item">
            <span class="post-comments-item-content">Sanctus est eos et rebum dolor diam nonumy labore. Et sanctus ea
                clita vero sit et gubergren eos, dolor amet kasd clita eos voluptua accusam lorem est, kasd ipsum rebum
                ipsum eirmod ipsum dolore sed invidunt amet, no eirmod elitr.</span>
            <span class="post-comments-item-by"><a href="#">lukul</a></span>
        </div>
        <div class="post-comments-item">
            <span class="post-comments-item-content">Magna et voluptua dolores ipsum eirmod amet. Dolore dolor gubergren
                sit justo gubergren diam. Takimata.</span>
            <span class="post-comments-item-by"><a href="#">dryami</a></span>
        </div>
        <a class="post-comments-more">5</a>
    </div>
    <div class="post-comments-input">
        <form action="">
            <div class="field has-addons">
                <div class="control is-fullwidth">
                    <input type="text" placeholder="Trả lời bài viết">
                </div>
                <div class="control">
                    <a class="has-text-smallcaps is-nowrap post-comments-input-submit">
                        <span class="icon">
                            <i class="fas fa-paper-plane"></i>
                        </span>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>