<div class="post is-editor">
    <div class="post-header">
        <div class="post-title">
            <div class="widget-title">Tiếp tục câu truyện</div>
        </div>
        <div class="post-cover">
            <label for="post-cover-image"></label>
            <input type="file" id="post-cover-image">
            <figure class="image is-full">
                <img src="">
            </figure>
        </div>
    </div>
    <div class="post-body">
        <div class="wysiwyg is-bordered">
            <textarea rows="10"></textarea>
            <div class="word-count">30</div>
        </div>
        <p class="help"><i class="far fa-info-circle is-size-7"></i> <a href="#">Huớng dẫn sử dụng Markdown Editor</a>
        </p>
    </div>
</div>