<div class="post is-editor">
    <div class="post-header">
        <div class="post-title">
            <div class="user-card is-horizontal">
                <div class="user-card-image">
                    <figure class="image is-size-4 is-cover is-bordered is-radius has-placeholder">
                        <img src="">
                    </figure>
                </div>
                <div class="user-card-meta">
                    <div class="has-text-weight-semibold">Nàng hầu gái tiếp tục ...</div>
                </div>
            </div>
        </div>
        <div class="post-cover">
            <label for="post-cover-image"></label>
            <input type="file" id="post-cover-image">
            <figure class="image is-full">
                <img src="">
            </figure>
        </div>
    </div>
    <div class="post-body">
        <div class="editor-wrapper is-bordered">
            {%- include global/editor.html -%}
        </div>
        <!-- <div class="wysiwyg is-bordered">
            <textarea rows="10"></textarea>
            <div class="word-count">30</div>
        </div> -->
        <p class="help"><i class="far fa-info-circle is-size-7"></i> <a href="#">Huớng dẫn sử dụng Markdown Editor</a>
        </p>
    </div>
</div>