<div class="container">

    <div class="columns">

        <div class="column is-8">

            <div class="box-wrapper is-spaced">

                {% include global/widget.html source="game-description" title="Miêu tả" borderedtitle="yes" textwrapper="yes" %}

                {% include widget/game-meta.html %}

                {% include global/widget.html source="game-scenario" title="Bối cảnh" borderedtitle="yes" textwrapper="yes" %}

                <div class="box">
                    <div class="box-title is-bordered">
                        <h4><span class="skeleton is-4"></span></h4>
                        <p><span class="skeleton is-3"></span></p>
                    </div>
                    <div class="box-content">
                        <span class="skeleton"></span>
                        <span class="skeleton"></span>
                        <span class="skeleton is-5"></span>
                        <div style="height: 15rem;"></div>
                    </div>
                </div>

            </div>

        </div>

        <div class="column">

            <div class="sidebar is-sticky">

                {% include global/widget.html source="game-sidebar-cast" title="Thành viên" borderedtitle="yes"  %}

            </div>

        </div>

    </div>

</div>